{% extends "header.html" %}
{% block content %}
<body>
<div class="container">
<form>
    <h1 style="margin-bottom: 35px">Currency exchange</h1>

        <table>
            <tr>
                <th>From Currency</th>
                <th>Amount</th>
                <th>To Currency</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>
                    <select id="fromCurrency">
                        <!-- options for each currency-->
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        
                    </select>
                </td>
                <td>
                    <input type="number" id="amount" min="0">
                </td>
                <td>
                    <select id="toCurrency">
                        <!--options for each currency-->
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="result" readonly>
                </td>
            </tr>
        </table>
        <button type="submit">Convert</button>
    </div>
    </form>
</body>
{% endblock %}