{% extends "header.html" %}
{% block content %}
<body>
<div class="container">
<form id="currencyForm">
        <table id="currency-conversion">
            <caption><h1 style="margin-bottom: 35px">Currency exchange</h1></caption>
            <tr>
                <th>From Currency</th>
                <th>Amount</th>
                <th>To Currency</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>
                    <select id="fromCurrency">
                        <!-- options for each currency-->
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="AUD">AUD</option>   
                        <option value="CAD">CAD</option>
                        <option value="CNY">CNY</option>
                        
                    </select>
                </td>
                <td>
                    <input type="number" id="fromCurrencyAmount" min="0">
                </td>
                <td>
                    <select id="toCurrency">
                        <!--options for each currency-->
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="AUD">AUD</option>   
                        <option value="CAD">CAD</option>
                        <option value="CNY">CNY</option>
                        
                    </select>
                </td>
                <td>
                    <input type="text" id="toCurrencyAmount" readonly>
                </td>
            </tr>
        </table>
        <button type="submit">Convert</button>
    </form>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>
    document
        .getElementById("currencyForm")
        .addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission
            console.log("submitting currency form");
            debugger;
            convertCurrency();
        });
    </script>
</body>
{% endblock %}