<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Expense Reporting System</title>
</head>
<body>
    <header>
        <a href="{{ url_for('main_page')}}" style="text-decoration: none; color: inherit">
            <div id="title">
                <h1>Expense Tracker</h1>
            </div>
        </a>
        <div id="header-left">
            <a href="{{ url_for('currency')}}" style="text-decoration: none; color: inherit">
                <div id="currency-button" class="header-option">Currency</div>
            </a>

            <a href="{{ url_for('settings')}}" style="text-decoration: none; color: inherit;">
                <div id="settings-button" class="header-option">Settings</div>
            </a>
        </div>
        
        <div id="header-right">
            <a href="{{ url_for('login')}}" style="text-decoration: none; color: inherit">
                <div id="login-button" class="header-option">Login</div>
            </a>
        </div>

    </header>
</body>
</html>